#heading{
    color: red;
    font-weight: 900;
}
#nav-bar{
    font-weight: 700;  
    color: black;
}
.col1{
    background-color: red;
    height: 720px;
    width: 1536px;  
}

#co-bottle{
    margin-top: 200px;
    margin-left: 200px;
}




